In [68]:
import requests, pandas as pd

In [69]:
# The base URL to use for the request
base_url = "https://api.carbonintensity.org.uk/regional/intensity/"
from_date = '2024-08-26T00:00Z'
to_date = '2024-08-26T04:00Z'
postcode = "BN3"

In [70]:
# Make the GET request
response = requests.get(base_url+from_date+"/"+to_date+"/postcode/"+postcode)

# Check if the request was successful
if response.status_code == 200:
    print("Response received: OK")
else:
    print(f"Error: {response.status_code}")

Response received: OK

In [50]:
def flatten(dictionary):
    result = {}

    for (k,v) in dictionary.items():
        if isinstance(v, dict):
            for (k2,v2) in v.items():
                result[k+"_"+k2] = v2
        elif isinstance(v, list):
            for i in v:
                result[k+"_"+i['fuel']] = i['perc']
        else:
            result[k] = v

    return result

In [71]:
data = response.json()
data['data']['data'] = list(map(flatten, data['data']['data']))

In [73]:
df = pd.json_normalize(data['data'], 'data', meta=['regionid', 'shortname', 'postcode'])
df.head()

,from,to,intensity_forecast,intensity_index,generationmix_biomass,generationmix_coal,generationmix_imports,generationmix_gas,generationmix_nuclear,generationmix_other,generationmix_hydro,generationmix_solar,generationmix_wind,regionid,shortname,postcode
0,2024-08-25T23:30Z,2024-08-26T00:00Z,142,moderate,0.4,0,0.2,36.0,7.0,0,2.4,0.0,54.0,14,South East England,BN3
1,2024-08-26T00:00Z,2024-08-26T00:30Z,139,moderate,0.4,0,0.1,35.1,7.0,0,2.4,0.1,54.9,14,South East England,BN3
2,2024-08-26T00:30Z,2024-08-26T01:00Z,135,moderate,0.3,0,0.1,34.3,7.1,0,2.2,0.0,55.9,14,South East England,BN3
3,2024-08-26T01:00Z,2024-08-26T01:30Z,127,moderate,0.4,0,0.1,32.2,7.6,0,2.1,0.1,57.5,14,South East England,BN3
4,2024-08-26T01:30Z,2024-08-26T02:00Z,124,moderate,0.4,0,0.1,31.4,7.9,0,2.2,0.0,57.9,14,South East England,BN3